.add-button{
    bottom: 30px; /* Separacion del boton con el borde inferior*/
    right: 25px; /*Separación desde la derecha*/
    border-radius: 50%;
    background-color: rgb(209, 172, 9); /*Color de fondo*/
    border: none;
    /*Esto hace que el boton sea flotante*/
    position: fixed;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center; /*Alinación horizontal*/
    align-items: center; /*Alinación vertical*/
    box-shadow: 0px 4px 10px rgb(0,0,0,0.5);/*Sombreado*/
    z-index: 1001;
    transition: transform 0.4s;
}
.add-button:hover{
    transform: scale(1.1);
}
